*html {
  background-color: var(--primary-color);
}
/* colors used (light yellow) #f4de87
primary color (light grey) #c3c3c3
secondary color (light red) #f66083
*/
:root {
  --button-color: #f4de87;
  --primary-color: #c3c3c3;
  --secondary-color: #f66083;
}
body {
  background-color: var(--primary-color);
  font-family: "press Start 2P";
  font-weight: 400;
  font-size: 16px;
}

.logo-item {
  width: 500px;
  height: auto;
  align-self: left;
}

.poke-button {
  background-color: var(--button-color);
  color: black;
  border-color: var(--button-color);
  margin-bottom: 3px;
}
